{% extends "frontstage_game.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}遊戲中{% endblock title%}

{% block content%}
<br/>
<div class="container-xl">
    <form method="post" action={{ url_for('game.gameStart') }}>
        <center>
              <img width="500px" height="300px" src="../static/img/game.gif">
        </center>
        <br/>
        <center> 
            <div class="option">
                <button class="btn btn-primary" type="submit" value="end" name="end">結束遊戲</button>
            </div>
        </center>
    </form>
</div>
{% if msg %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>  
{% endif %}
{% endblock content%}